<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <title>Belépve</title>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <form class="container-fluid justify-content-center">{% csrf_token %}
        <center>
            <a class="btn btn-outline-primary" id="breeding" role="button" >Tenyészetek</a>
            <a class="btn btn-outline-primary" href="" role="button">Profil</a>
            <a class="btn btn-outline-primary" href="{% url 'logOut' %}" role="button">Kijelentkezés</a>
            {% block content %}
            {% if userdata is not None %}
            <h8>Hello, {{ userdata }}</h8>
            {% else %}
            <meta http-equiv="REFRESH" content="0;url={%url 'index'%}">
            {% endif %}
            {% endblock %}
        </center>
    </form>
</nav>
<br>

<div id="contentContainer" style="text-align: center;">

    <div id="saveBreedingNumber" style="display:none">  
        
        <form id="saveBreedingNumber2" class='container-fluid justify-content-center' method='POST' action = {%url 'addBreeding' %}>
            {% csrf_token %}
            <label>Tenyészet kód:</label>
            <input type='text' maxlength="7" name="code" id="code" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
            <button class="btn btn-primary" type="submit">Mentés</button><br>
    
        </form>
    </div>


    {% csrf_token %}
        <div id="displaybreeding">


        </div>

    <div id="beehives" style="display:none; text-align: center;">

    </div>
</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

{% csrf_token %}
<script>

var refresh;
function refreshBreeding(){
     setTimeout(function(){
            $.ajax({
                type:'GET',
                url: "{% url 'breeding' %}",
                success: function(response){
                    response.breeding.sort((a, b) => (a.breedingcode > b.breedingcode) ? 1 : -1);
                    if(document.getElementById("displaybreeding")==null){
                        var newdiv = document.createElement("div");
                        newdiv.setAttribute("id","displaybreeding");
                        newdiv.setAttribute("style","text-align: center");
                        document.body.appendChild(newdiv);
                        $("#beehives").empty();
                        document.getElementById("beehives").style.display = "none";
                        document.getElementById("saveBreedingNumber").style.display = "block";
                    
                        for (var key in response.breeding)
                        {
                            var temp = "<a onclick='getBeehives()' class='btn btn-outline-primary' id="+counter+" name="+response.breeding[key].breedingcode+" role='button'>"+response.breeding[key].breedingcode+"</a>";
                            $("#displaybreeding").append(temp);
                            var deleteIcon = "<a class='btn btn-outline-danger' onclick='deleteBreeding("+response.breeding[key].breedingcode+")' id='deleteBreeding' breedingCode="+response.breeding[key].breedingcode+"><i class='bi bi-trash' style='font-size:15px'></i></a>";
                            $("#displaybreeding").append(deleteIcon);
                            $("#displaybreeding").append("<br>");
                            $("#displaybreeding").append("<br>");
                            counter = counter+1;
                        }
                        counter=1;

                    }
                    else{
                        $("#displaybreeding").empty();
                        var counter = 1;
                        console.log(response.breeding);
                       
                        for (var key in response.breeding)
                        {
                            var temp = "<a onclick='getBeehives()' class='btn btn-outline-primary' id="+counter+" name="+response.breeding[key].breedingcode+" role='button'>"+response.breeding[key].breedingcode+"</a>";
                            $("#displaybreeding").append(temp);
                            var deleteIcon = "<a class='btn btn-outline-danger' onclick='deleteBreeding("+response.breeding[key].breedingcode+")' id='deleteBreeding' breedingCode="+response.breeding[key].breedingcode+"><i class='bi bi-trash' style='font-size:15px'></i></a>";
                            $("#displaybreeding").append(deleteIcon);
                            $("#displaybreeding").append("<br>");
                            $("#displaybreeding").append("<br>");
                            counter = counter+1;
                        }
                        counter=1;
                    }
                   
                },
                error: function(response){
                    alert("An Error Occured")
                }
            });
        });
}

var getBreedingCode = 0;
function getBeehives(){
        $('#displaybreeding').click(function(e){
            console.log('GetBEEHIVES')
            getBreedingCode = e.target.name;
        $.ajax({
            method:'GET',
            async: true,
            url:"{% url 'beehives' %}",
            data:{
                code:e.target.name
            },
    
        success: function(response) {
                response.beehives.sort((a, b) => (a.beehivenumber > b.beehivenumber) ? 1 : -1);
                console.log(response.beehives);
                const deleteDiv = document.getElementById("displaybreeding");
                deleteDiv.remove();
                document.getElementById("saveBreedingNumber").style.display = "none";
                $("#beehives").append("<a class='btn btn-outline-primary' onclick='refreshBreeding()'>Vissza a tenyészetekhez</a>");
                $("#beehives").append("<a class='btn btn-outline-success' onclick='addBeehive()'>Méhkaptár hozzáadása</a>");
                $("#beehives").append("<br>");
                $("#beehives").append("<br>");
                
                for (var key in response.beehives)
                {
                    var temp = "<a class='btn btn-outline-primary' id='key' role='button' beehivenumber="+response.beehives[key].beehivenumber+" >"+"BreedingCode: "+response.beehives[key].breedingcode+" | Number: "+response.beehives[key].beehivenumber+"</a>";
                    $("#beehives").append(temp);
                    var editIcon = "<a class='btn btn-outline-secondary' beehivenumber="+response.beehives[key].beehivenumber+"><i class='bi bi-pencil-square' style='font-size:15px'></i></a>";
                    $("#beehives").append(editIcon);
                    var deleteIcon = "<a class='btn btn-outline-danger' onclick='deleteBeehive("+response.beehives[key].breedingcode+","+response.beehives[key].beehivenumber+")' beehivenumber="+response.beehives[key].beehivenumber+"><i class='bi bi-trash' style='font-size:15px'></i></a>";
                    $("#beehives").append(deleteIcon);
                    $("#beehives").append("<br>");
               
             
                }
                document.getElementById("beehives").style.display = "block";
                
        },
        });
        e.preventDefault();
        });
    
}


$(document).ready(function(){
$('#saveBreedingNumber2').submit(function(){
    $.post($(this).attr('action'), $(this).serialize(), function(response){
                                
    },'json');
    return false;
 });

});


function hideSaveBar(){
     document.getElementById("saveBreedingNumber").style.display = "block";
}

function addBeehive(){
    $.ajax({
        type:'GET',
        data:{
            code:getBreedingCode,
            csrfmiddlewaretoken: "{{csrf_token}}",
        }, 
        success: function(data){
            console.log("Add behives");
            $('#contentContainer').load('{% url "addBeehive" %}?code='+getBreedingCode+'#addBeehive');
        }
     });
}

function deleteBreeding(code){
    var action = confirm("Biztos törölni szeretnéd?");
    if(action != false){
        $.ajax({
            url: "{% url 'deleteBreeding' %}",
            dataType: 'json',
            data:{
                'breedingcode' : code,
            },
            success: function (data){
                if(data.deleted){
                    $("#breedingCode").remove();
                    $("#name").remove();
                }
            }
    
    
        });
    }
    
}

function deleteBeehive(code,number){
    var action = confirm("Biztos törölni szeretnéd?");
    if(action != false){
        $.ajax({
            url: "{% url 'deleteBeehive' %}",
            dataType: 'json',
            data:{
                'breedingcode' : code,
                'number': number,
            },
            success: function (data){
                if(data.deleted){
                    $("#beehivenumber").remove();
                }
            }
    
    
        });
    }  
}


$('#breeding').click(function(){
    if(document.getElementById("saveBreedingNumber")==null){
        window.location.reload(true);//Ki kell javítani
    }else{
        refresh=refreshBreeding();
        hideSaveBar();
    }
    
    });

clearTimeout(refresh);

 if ( window.performance.navigation.type == window.performance.navigation.TYPE_BACK_FORWARD) {
        window.location.reload(true);
 }

</script>

</html>